body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000vh;
    margin: 0;
       }
 p {
    /*font-size: 3rem;*/
 }
 
 /*button {
     padding: 7px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }
 
 button {
     background-color: #3498db;
 }*/