body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000vh;
    margin: 0;
}

canvas#canvas0{
    position: absolute;
    border: 2px solid;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
}


#canvas0 {
    z-index: 0;
}

.menu{
   position: relative;
    top: 250px;
    left:45%;
    width:1500px;
}
.but{
    right:599px;
}